
<%=form_for :seven_wonder, url: seven_wonders_path do |f| %>
	<p>
		<%= f.label :name %>
		<br>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :boardname %>
		<br>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :score %>
		<br>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :win %>
		<br>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.submit %>
<% end %>
