<p>
	<%= @seven_wonder.gamenumber %>
	<br>
	<%= @seven_wonder.name %>
	<br>
	<%= @seven_wonder.boardname %>
	<br>
	<%= @seven_wonder.score %>
	<br>
	<%= @seven_wonder.win %>
	<br>
	<%= @seven_wonder.date %>
	<br>
</p>